player-connection-mode=Listen
player-connection-guid=2233658681
player-connection-debug=0
player-connection-project-name=game
player-connection-ip=192.168.18.8
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d7b88616521e41348af81c6e7a8bfc33
