player-connection-mode=Listen
player-connection-guid=174217163
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=192.168.18.8
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=1
gc-max-time-slice=3
build-guid=525d541759054a0386e8737bc9b5339c
